.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: $spacing-small;
}
.cards{
    display: flex;
    gap: $spacing-xsmall;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    display: flex;
    flex-direction: column;
    gap: $spacing-xsmall;
    flex: 1 1 clamp (300px, 30%, 400px);
}
.box_info{
    display: flex;
    flex-direction: column;
    padding: $spacing-medium;
}
.box__title {
    font-family: $font-title;
    font-size: $medium;
    color: $primary;
}
    &__subtitle{
    margin-top: 0.6rem;
    color: $text-color;
    font-size: $base;
}
    &__text{
    margin-top: $spacing-xsmall;
    font-size: $base;
    color: $text-color;
}
.info{
    display: flex;
    padding: $spacing-large;
    align-items: center;
}
    &__img{
        flex: 1 1 50%;
    }
    &__box{
    flex: 1 1 50%;
    .info__title{
        font-size: $large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: $primary;
    }
    .info__description{
        font-size: $medium;
        font-weight: 300;
    }
    .info__link{
        display:flex;
        align-items: center;
        font-size: $small;
        color: $primary;
        gap: $spacing-xsmall;
        margin-top: 2rem;
    }
    ,info__link path{
        color $secondary;
        stroke-width: 5px;
        
    }
    }
}